/* ================= NAVBAR ================= */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between; /* separa izquierda y derecha */
    background-color: #8a1016;
    padding: 1rem 3rem; 
    margin-bottom: 50px;
}

.navbar-logo {
    height: 80px;
    margin-left: 1rem; /* espacio entre botón menú y logo */
}

/* Botón de logout */
.btn-logout {
    border-radius: 8px;
    padding: 5px 12px;
    font-size: 0.9rem;
    background-color: transparent;
    color: #ffffff;
    border: none;
    transition: all 0.2s;
}
.btn-logout:hover {
    background-color: #fffdfd;
    color: #000000;
}


.btn-logout.btn-lg {
    padding: 10px 20px;      /* más grande que btn-sm */
    font-size: 1.1rem;       /* aumentar tamaño de letra */
    border-radius: 10px;     /* opcional, más redondeado */
}
